﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model MoneyTransfer.ViewModels.SendMoneyViewModel
@{
    ViewData["Title"] = "AddBalanceAnonymus";
}
<h2>Пополнить счет</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBalanceAnonymus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label">@Localizer["Account"]</label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceAnonymus" class="control-label">@Localizer["Balance"]</label>
                <input asp-for="BalanceAnonymus" class="form-control" />
                <span asp-validation-for="BalanceAnonymus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
