﻿@model MoneyTransfer.ViewModels.SendMoneyViewModel

@{
    ViewData["Title"] = "SendMoney";
}

<h2>SendMoney</h2>

<h4>SendMoneyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMoney">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

