﻿@model MoneyTransfer.ViewModels.TransferListViewModel

@{
    ViewData["Title"] = "TransfersList";
}

<h2>TransfersList</h2>
<div>
    <form asp-action="TransfersList">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DateFrom" class="control-label"></label>
            <input asp-for="DateFrom" class="form-control" />
            <span asp-validation-for="DateFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateTo" class="control-label"></label>
            <input asp-for="DateTo" class="form-control" />
            <span asp-validation-for="DateTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Отправитель
            </th>
            <th>
                Получатель
            </th>
            <th>
                Сумма
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transfers) {
        <tr>
            @if (String.Equals(User.Identity.Name, item.UserFrom.UserName))
            {
                <td>
                    <b>@Html.DisplayFor(modelItem => item.UserFrom.Email)</b>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserFrom.Email)
                </td>
            }
        
            @if (String.Equals(User.Identity.Name, item.UserTo.UserName))
            {
                <td>
                    <b>@Html.DisplayFor(modelItem => item.UserTo.Email)</b>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserTo.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
</table>
